# .coveragerc to control coverage.py
[run]
branch = True
source =
    gsmmodem/
    tools/gsmtermlib
omit =
    # Omit Python 2.6 and 3 compatibility wrappers
    gsmmodem/compat.py
    tools/gsmtermlib/posoptparse.py
    # Omit GSMTerm UI
    tools/gsmtermlib/terminal.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about Python version checks and subsequent monkey-patching
    if sys.version_info
    if PYTHON_VERSION

