*.py[cod]

# Package-building stuff
*.egg
*.egg-info
dist
build
docs/_build

# Eclipse project info
.project
.pydevproject
.settings
# PyCharm project info
.idea

# Symlinks (if present)
examples/gsmmodem
test/gsmmodem
test/gsmtermlib
tools/gsmmodem
tools/gsmtermlib/gsmmodem
tools/init

# Unit tests / coverage reports
.coverage
htmlcov

# Working copy files
*.swp
